Thumbs.db *
.DS_Store *
HELP.md
.gradle
строить/
цель/

### СТС ###
.apt_generated
.classpath
.factorypath
.проект
.настройки
.springBeans
.sts4-кеш

### IntelliJ IDEA ###
.idea
* .iws
* .iml
* .ipr
из/

### NetBeans ###
/ nbproject / частный /
/ nbbuild /
/ dist /
/ nbdist /
/.nb-gradle/

### Код VS ###
.vscode /

### Файлы пакета ###
*.банка
*.война
* .nar
*.ухо
* .zip
* .tar.gz
* .rar

### Исключения ###
! Gradle / обертка / gradle-wrapper.jar
! .mvn / обертка / maven-wrapper.jar
! ** / src / main / **
! ** / src / test / **
